<html>
  <head>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class='container'>
      <h1>Acme Product Categories</h1>

      <nav>
        <ul class='nav nav-tabs'>
          <li role="presentation" {% if nav === 'Home' %}class="active"{% endif %}><a href="/">Home</a></li>
          {% for category in categories %}
          <li role="presentation" {% if catName === category %}class="active"{% endif %}><a href='/categories/{{ category }}/products'>{{ category }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <div>
        {% block content %}{% endblock %}
      </div>

    <div>

      <h2>Data</h2>


       <pre> {{ data }} </pre>


    </div>

    </div>
  </body>
</html>
